#todo-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow:none;
  outline:none;
  color: white;
}

.hover {
  transition: .3s;
}
.hover:hover {
  transform: scale(1.1);
}

.done {
  text-decoration: line-through;
}